<div class="style_content">

<%= render partial: "form" , locals: {dummy_post: @dummy_post}%>
<br>
<center><%= button_to "delete", @dummy_post, method: :delete, data:{turbo_confirm:"are you sure you want to delte?"}, class: "btn btn-danger" %><center>
</div>  
<script>
    $("#submit-btn").on("click", function(){
        Swal.fire("Updated sucessfully!");
    })
</script>
<style>
    .style_content{
        margin-top: -20px;
        margin-bottom:20px;
    }
    </style>