
<div>
    <% if user_signed_in? %>
<i class="fa-solid fa-user"></i><strong> <%= feedback.user.email %></strong>
<br>
<%= feedback.content %>
</strong><%= render feedback.feedbacks %>

<% else %>
<% dummy_post_path(@dummy_post) %>
<% end %>
<hr />
</div>
   
