/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .style_content{
    margin: 0 500px; 
    width: 50%;
 }
.style_index{
    background-color: grey;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    line-height: 30px;
}
.style_index:hover{
    background-color: rgb(44, 40, 40);
    padding: 5px;

}
.draft{
    background-color: rgb(195, 194, 194);
    width: 20%;
    text-align: center;
    color: rgb(88, 86, 86);
}
.scheduled{
    background-color: rgb(140, 217, 228);
    width: 40%;
    text-align: center; 
    color: rgb(88, 86, 86);
}
.published{
    background-color: rgb(158, 228, 140);
    width: 40%;
    text-align: center;
    color: rgb(88, 86, 86);
}